.LoginForm{
    height: calc(100vh - 150px);
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
}

.alert{
    color:white;
    text-shadow: 2px 2px 5px red;
    
}