.JobCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 1500px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    text-decoration: none;
    color: black;
    justify-content: center;
    margin-bottom: 1rem;
}
